/*
 * This file is part of the Notes application.
 *
 * (c) Florian Voutzinos <florian@voutzinos.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.alert {
  font-weight: normal;
  border: $border-size-base solid;
}

@mixin make-alert($type) {
  .alert-#{$type} {
    .close {
      color: get-alert-close-color($type);
      opacity: 1;

      &:hover {
        color: lighten(get-alert-close-color($type), 10%);
      }
    }
  }
}

@function get-alert-close-color($type) {
  @if $type == "danger" {
    @return $alert-danger-close-color;
  }

  @if $type == "success" {
    @return $alert-success-close-color;
  }
}

@each $type in danger, success {
  @include make-alert($type);
}
