<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="pull-left"><i class="fa fa-pencil-square"> </i> Notes</h1>
            <button type="button" id="btn-logout" class="btn btn-default btn-logout pull-right">
                <i class="fa fa-sign-out"> </i>
            </button>

            <button type="button" id="btn-add" class="btn btn-success btn-add-note pull-right">
                <i class="fa fa-plus"> </i>
            </button>
        </div>
    </div>
</div>
