<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-11">
            <div class="row">
                <h4>{{title}}</h4>
            </div>
            <div class="row">
                <p class="modified-date">
                    <i class="fa fa-clock-o"> </i>
                    <time>{{formatDate modified_date}}</time>
                </p>
            </div>
        </div>
        <div class="col-xs-1 delete-note-wrapper">
            <button id="btn-delete" class="btn-delete-note" type="button">&times;</button>
        </div>
    </div>
</div>
