<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="alert-region"></div>
                    </div>
                </div>

                <div class="row search-row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="search-region"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id="list-region"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
